<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="./css/output.css" rel="stylesheet">
	<title>Document</title>
</head>

<body bgcolor="#8C5448">
	
	<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
		<div
			class="absolute inset-0 bg-[url(/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]">
		</div>
		<div
			class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
			<div class="mx-auto max-w-md">
				<!--img src="./shine-logo.png" width="500px" height="500px" class="h-5" alt="Logo shine" /-->
				<div class="divide-y divide-gray-300/50">
					<div class="space-y-6 py-8 text-base leading-7 text-gray-600">
						<h1>Hola ${usuario}. Gracias por unirte a shine, nuestra tienda en linea</h1>
						<p>Abre el siguiente enlace para activar tu cuenta: <b><a href="http://${url}">${url}</a></b></p>
						
						<p>El equipo de Shine "Brilla con estilo" te aconseja mantener en secreto esta contraseña para
							evitar futuros riesgos y vulnerabilidades en tu cuenta</p>
					</div>
					<div class="pt-8 text-base font-semibold leading-7">
						<p class="text-gray-900">Gracias por confiar en nosotros</p>
						<p>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>